 <html>
        <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style type="text/css">
    	.center{
    		position: absolute;
    		left:20%;
    		background-color: #eeba30;
    		width: 50%;
    		height: 100%;
    		left:25%;
    		padding: 30px;
    	}
    	img{
    		width: 75%;
    		height: 75%;
    	}
    	body{
    		background-color: #740001;
    	}
    </style>
            <title>DOBBY NO TIENE AMO DOBBY ES UN ELFO LIBRE</title>
        </head>
        <body>
        	<div class="center">
            <h1 style="color: #000000">El amo le ha dado un calcetín a Dobby!!!</h1>
            <img src="http://www.darkknightarmoury.com/images/Product/large/FK-6561.png"/>
            <h1 style="color: #000000">Dobby es libre!</h1>
            </div>
        </body>
    </html>